In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [10]:
books = pd.read_csv('BX-Books.csv',sep=';',error_bad_lines = False, encoding = 'latin-1')
books.info()

/var/folders/ms/wgq4r1996sv7s24sg_nh2hm00000gn/T/ipykernel_2335/2477517733.py:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  books = pd.read_csv('BX-Books.csv',sep=';',error_bad_lines = False, encoding = 'latin-1')
Skipping line 6452: expected 8 fields, saw 9
Skipping line 43667: expected 8 fields, saw 10
Skipping line 51751: expected 8 fields, saw 9

Skipping line 92038: expected 8 fields, saw 9
Skipping line 104319: expected 8 fields, saw 9
Skipping line 121768: expected 8 fields, saw 9

Skipping line 144058: expected 8 fields, saw 9
Skipping line 150789: expected 8 fields, saw 9
Skipping line 157128: expected 8 fields, saw 9
Skipping line 180189: expected 8 fields, saw 9
Skipping line 185738: expected 8 fields, saw 9

Skipping line 209388: expected 8 fields, saw 9
Skipping line 220626: expected 8 fields, saw 9
Skipping line 227933: expected 8 fields, saw 11
Skipping line 228957: expected 8 fields, saw 10
Skipping line 245933: expected 8 fields, saw 9
Skipping line 251296: expected 8 fields, saw 9
Skipping line 259941: expected 8 fields, saw 9
Skipping line 261529: expected 8 fields, saw 9

/var/folders/ms/wgq4r1996sv7s24sg_nh2hm00000gn/T/ipykernel_2335/2477517733.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books = pd.read_csv('BX-Books.csv',sep=';',error_bad_lines = False, encoding = 'latin-1')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271360 entries, 0 to 271359
Data columns (total 8 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ISBN                 271360 non-null  object
 1   Book-Title           271360 non-null  object
 2   Book-Author          271359 non-null  object
 3   Year-Of-Publication  271360 non-null  object
 4   Publisher            271358 non-null  object
 5   Image-URL-S          271360 non-null  object
 6   Image-URL-M          271360 non-null  object
 7   Image-URL-L          271357 non-null  object
dtypes: object(8)
memory usage: 16.6+ MB

In [7]:
books.head(10)
books.shape

(271360, 8)

In [8]:
books.columns

Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-S', 'Image-URL-M', 'Image-URL-L'],
      dtype='object')

In [18]:
books = books[['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-S']]

In [15]:
books.columns

Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-S'],
      dtype='object')

In [21]:
books.rename(columns={
    'Book-Title' : 'title',
    'Book-Author' : 'author',
    'Year-Of-Publication' : 'year',
    'Publisher' : 'publication',
    'Image-URL-S' : 'image_url'
} ,inplace = True)

In [22]:
users = pd.read_csv('BX-users.csv', encoding = 'Latin-1', sep = ';', error_bad_lines =False)

/var/folders/ms/wgq4r1996sv7s24sg_nh2hm00000gn/T/ipykernel_2335/3843891327.py:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  users = pd.read_csv('BX-users.csv', encoding = 'Latin-1', sep = ';', error_bad_lines =False)

In [23]:
users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [24]:
ratings = pd.read_csv('BX-Book-Ratings.csv', encoding = 'Latin-1', sep = ';', error_bad_lines =False)

/var/folders/ms/wgq4r1996sv7s24sg_nh2hm00000gn/T/ipykernel_2335/260925317.py:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  ratings = pd.read_csv('BX-Book-Ratings.csv', encoding = 'Latin-1', sep = ';', error_bad_lines =False)

In [25]:
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [26]:
ratings.rename(columns={
    'User-ID':"user_id",
    'Book-Ratings':'rating'
}, inplace = True)

In [28]:
x = ratings['user_id'].value_counts() > 200
x

11676      True
198711     True
153662     True
98391      True
35859      True
          ...
116180    False
116166    False
116154    False
116137    False
276723    False
Name: user_id, Length: 105283, dtype: bool

In [29]:
x[x].shape

(899,)

In [30]:
y = x[x].index

In [32]:
ratings = ratings[ratings['user_id'].isin(y)]

In [33]:
ratings.head()

      user_id        ISBN  Book-Rating
1456   277427  002542730X           10
1457   277427  0026217457            0
1458   277427  003008685X            8
1459   277427  0030615321            0
1460   277427  0060002050            0

In [34]:
ratings_with_books = ratings.merge(books,on = 'ISBN')
ratings_with_books.head()

,user_id,ISBN,Book-Rating,title,author,year,publication,image_url
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...
1,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...
2,11676,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...
3,12538,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...
4,13552,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...

In [38]:
num_ratings = ratings_with_books.groupby('title')['Book-Rating'].count().reset_index()
num_ratings.head()

                                               title  Book-Rating
0   A Light in the Storm: The Civil War Diary of ...            2
1                              Always Have Popsicles            1
2               Apple Magic (The Collector's series)            1
3   Beyond IBM: Leadership Marketing and Finance ...            1
4   Clifford Visita El Hospital (Clifford El Gran...            1

In [39]:
num_ratings.rename(columns={
    'Book-Rating': 'num_of_rating',
},inplace = True)

In [42]:
final_ratings = ratings_with_books.merge(num_ratings, on = 'title')
final_ratings.head()

,user_id,ISBN,Book-Rating,title,author,year,publication,image_url,num_of_rating
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82
1,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82
2,11676,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82
3,12538,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82
4,13552,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82

In [44]:
final_ratings = final_ratings[final_ratings['num_of_rating']>=50]
final_ratings.shape

(61853, 9)

In [46]:
final_ratings.drop_duplicates(['user_id','title'], inplace = True)
final_ratings.shape

(59850, 9)

In [47]:
book_pivot = final_ratings.pivot_table(columns = 'user_id',index = 'title', values = 'Book-Rating')
book_pivot

user_id,254,2276,2766,2977,3363,3757,4017,4385,6242,6251,...,274004,274061,274301,274308,274808,275970,277427,277478,277639,278418
title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
1st to Die: A Novel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2nd Chance,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN
4 Blondes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84 Charing Cross Road,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN,7.0,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
You Belong To Me,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
Zoya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"\O\"" Is for Outlaw""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [52]:
book_pivot.fillna(0,inplace = True)

In [53]:
from scipy.sparse import csr_matrix

In [54]:
book_sparse = csr_matrix(book_pivot)

In [99]:
from scipy.sparse.linalg import svds

# Perform Singular Value Decomposition (SVD)
num_latent_factors = 10  # You can adjust the number of latent factors as needed
U, sigma, Vt = svds(book_sparse, k=num_latent_factors)

# Convert sigma to diagonal matrix
sigma = np.diag(sigma)

# Reconstruct the ratings matrix
predicted_ratings = np.dot(np.dot(U, sigma), Vt)

# Get the indices of top recommended books
top_books_indices = predicted_ratings[714].argsort()[::-1][:10]

# Get the titles of the top recommended books
top_books = final_ratings.index[top_books_indices]

# Print the top recommended books
print(top_books)

Int64Index([26, 731, 458, 518, 365, 1125, 1026, 509, 750, 541], dtype='int64')

In [113]:
final_ratings['title'][0]

'Politically Correct Bedtime Stories: Modern Tales for Our Life and Times'

In [116]:
for book_index in top_books:
    print(final_ratings['title'][book_index])

Politically Correct Bedtime Stories: Modern Tales for Our Life and Times
The Secret Garden
Bel Canto: A Novel
One for the Money (Stephanie Plum Novels (Paperback))
The Poisonwood Bible: A Novel
The Secret Life of Bees
Chocolat
One for the Money (Stephanie Plum Novels (Paperback))
The Secret Garden
One for the Money (Stephanie Plum Novels (Paperback))

# WITH NEAREST NEIGHBOR

In [91]:
from sklearn.neighbors import NearestNeighbors
model = NearestNeighbors()

model.fit(book_sparse[2:711])

NearestNeighbors()

In [106]:
distance , suggetion = model.kneighbors(book_pivot.iloc[1,:].values.reshape(1,-1),n_neighbors=10)
print (distance)
print (suggetion)

[[53.96295025 54.01851534 55.05451843 55.1724569  55.21775077 55.29918625
  55.45268253 55.51576353 55.51576353 55.54277631]]
[[182 534 530 370 649 551 204  68 183 198]]

In [107]:
for i in suggetion:
    print (book_pivot.index[i])

Index(['Evening Class',
       'The Color of Water: A Black Man's Tribute to His White Mother',
       'The Clan of the Cave Bear (Earth's Children (Paperback))',
       'Nights in Rodanthe', 'The Street Lawyer', 'The English Patient',
       'Fine Things', 'Beach House', 'Everything's Eventual : 14 Dark Tales',
       'Fast Women'],
      dtype='object', name='title')

In [95]:

book_pivot.iloc[:,1]

title
1984                                                                  0.0
1st to Die: A Novel                                                   0.0
2nd Chance                                                           10.0
4 Blondes                                                             0.0
84 Charing Cross Road                                                 0.0
                                                                     ...
Year of Wonders                                                       0.0
You Belong To Me                                                      0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values     0.0
Zoya                                                                  0.0
\O\" Is for Outlaw"                                                   0.0
Name: 2276, Length: 742, dtype: float64